$my-orange: #ec5242;
$my-black: #272a31;
$my-gray: #d3d3d3;

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-only {
  display: none;
}

.grid-container {
  display: grid;
  margin: 0;
  background-image: url(../assets/my_bg.png);
}

.bg {
  background-image: url(../assets/about_bg.png);
  background-size: auto;
  background-position-y: 18%;
}

.mobile-only {
  margin: {
    left: 2rem;
    top: 1rem;
  }

  padding-top: 0;
  color: #525252;
  cursor: pointer;
  font: {
    size: 50px;
    weight: bolder;
  }

  display: block;

  img {
    width: 2.5rem;
  }
}

.home-1-title {
  color: $my-orange;
  font: {
    weight: lighter;
    size: 1.5rem;
  }
  margin: {
    top: 3rem;
    left: 2rem;
    bottom: 2rem;
  }
}

.home-2-title {
  background-image: linear-gradient(35deg, #f61501, #f35718);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  font: {
    weight: 400;
    size: 2.4rem;
    family: "COCOGOOSE", sans-serif;
  }

  line-height: 2.2rem;
  margin: {
    top: -1.5rem;
    left: 2rem;
    right: 1.2rem;
    bottom: 0;
  }
}

.home-3-title {
  color: #585858;
  margin: {
    left: 2rem;
  }

  font-family: "COCOGOOSE", sans-serif;
}

.home-4-title {
  color: #585858;
  margin: {
    top: -0.5rem;
    left: 2rem;
  }

  font-weight: bolder;
}

.about-1-title {
  color: $my-orange;
  font: {
    weight: lighter;
    size: 1.5rem;
  }
  margin: {
    bottom: 0;
  }

  text-align: center;
}

.about-2-title {
  color: $my-orange;
  text-transform: uppercase;
  text-align: center;
  line-height: 8vw;
  font: {
    weight: 400;
    size: 7vw;
    family: "COCOGOOSE", sans-serif;
  }
  margin: {
    top: 0.7rem;
    bottom: 1.5rem;
  }
}

.about-3-title {
  color: #585858;
  text-align: center;
  font-size: small;
  margin: {
    top: 2rem;
    bottom: 1.2rem;
  }
}

.about-4-title {
  color: #585858;
  text-align: center;
  text-decoration: underline;
  font-size: small;
  margin: {
    top: 0;
    bottom: 2rem;
  }

  font-weight: bolder;
}

.home-p {
  margin: {
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 0;
  }

  background-color: #f8f8f9;
  border: 0.2rem solid white;
  padding: 3%;
}

.about-p {
  background-color: white;
  color: $my-black;
  font-size: medium;
  margin: {
    top: 9vw;
    left: 2rem;
    right: 2rem;
    bottom: 0;
  }

  border: 0.1rem solid $my-gray;
  padding: 3%;
  text-align: center;
  line-height: 1.5rem;
}

.main-program {
  display: grid;
  margin-top: 4rem;
  background-color: $my-black;
  background-image: url(../assets/bg1.png);

  .main-program-line {
    width: 10%;
    margin: {
      left: auto;
      right: auto;
      bottom: 1rem;
    }

    border: none;
    border-bottom: 1px solid $my-orange;
  }

  .program-parts {
    display: flex;
    background-color: rgba(124, 124, 124, 0.2);
    padding: 10px;
    margin: 0.75rem 0.75rem 0 0.75rem;

    .icon {
      margin: 4%;
      width: 10%;
      height: 10%;
      min-width: 3rem;
    }

    .icon-title {
      color: $my-orange;
      padding: {
        right: 5%;
        left: 5%;
      }

      font-weight: bold;
      min-width: 5rem;
    }

    .icon-description {
      color: #d0d3d5;
    }
  }
}

.main-program-title {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: {
    top: 2rem;
    left: 0;
    bottom: 0.5rem;
  }
}

.btn-join {
  background-color: $my-orange;
  color: white;
  border: 1px;
  margin: {
    left: auto;
    right: auto;
    top: 2rem;
    bottom: 2rem;
  }

  width: 70%;
  font-size: large;
  padding: {
    left: 2%;
    right: 2%;
    top: 7%;
    bottom: 7%;
  }

  cursor: pointer;
}

.speakers {
  display: grid;
  background-color: white;

  .main-program-title {
    color: $my-black;
    text-align: center;
    font: {
      size: larger;
      weight: bold;
    }
    margin: {
      top: 2rem;
      left: 0;
      bottom: 0.5rem;
    }
  }

  .speakers-line {
    width: 10%;
    margin: {
      left: auto;
      right: auto;
      bottom: 1rem;
    }

    border: none;
    border-bottom: 2px solid $my-orange;
  }

  .speaker-parts {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0.75rem 0.75rem 0 0.75rem;

    .speaker-text-box {
      padding: {
        right: 5%;
        left: 5%;
      }
    }

    .speaker-name {
      font-weight: bold;
    }

    .speaker-title {
      font: {
        style: italic;
        weight: bold;
        size: small;
      }

      color: $my-orange;
    }

    .speaker-line {
      width: 40%;
      margin-left: 0;
      border: none;
      border-bottom: 2px solid #e0e0e0;
    }

    .speaker-description {
      color: black;
      font-size: small;
    }
  }

  .btn-more {
    background-color: white;
    color: $my-black;
    text-transform: uppercase;
    border: 1.5px solid $my-gray;
    border-radius: 2px;
    margin: {
      left: auto;
      right: auto;
      top: 2rem;
      bottom: 2rem;
    }

    width: 90%;
    font-size: small;
    padding: {
      left: 2%;
      right: 2%;
      top: 4%;
      bottom: 4%;
    }

    cursor: pointer;
  }
}

.logo-part {
  display: grid;
  background-color: white;

  .main-program-title {
    color: $my-black;
    text-align: center;
    font: {
      size: larger;
      weight: bold;
    }
    margin: {
      top: 2rem;
      left: 0;
      bottom: 0.5rem;
    }
  }

  .logo-part-line2 {
    width: 100%;
    margin: {
      top: 2rem;
      left: auto;
      right: auto;
      bottom: -0.5rem;
    }

    border: none;
    border-bottom: 1px solid $my-gray;
  }

  .logo-box {
    margin: {
      top: 1rem;
      left: auto;
      right: auto;
    }

    border: 1px solid $my-gray;
    padding: {
      top: 2rem;
      bottom: 2rem;
      right: 5rem;
      left: 5rem;
    }

    width: 50%;
  }

  .about-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.red-image {
  margin: {
    top: 1.5rem;
    bottom: 0.1rem;
  }

  width: 80vw;
}

.logo-part-line1 {
  width: 4%;
  margin: {
    left: auto;
    right: auto;
    bottom: -0.5rem;
  }

  border: none;
  border-bottom: 2px solid $my-orange;
}

.partners-container {
  background-color: #414246;
  margin-top: 3rem;
  margin-left: 0;
  padding-bottom: 10%;
}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 28vw;
  gap: 4vw;

  img {
    width: 60%;
  }
}

.footer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;

  .footer-logo {
    width: 30vw;
    padding: {
      right: 10%;
    }
  }

  .footer-text {
    text-align: left;
    color: $my-black;
    font-size: smaller;
  }
}

.mobile-menu {
  background-color: #272a32;
  display: block;
  -webkit-transition: all 1.5s ease-out;
  height: 100%;
  width: 80%;
  z-index: 2;
  position: absolute;

  hr {
    border: 1px solid #6f6c6b;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 87%;
  }

  .mobile-menu-items {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-left: 10%;
  }

  img {
    margin-left: 85%;
    margin-top: 15%;
    margin-bottom: 5%;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $my-orange;

    &:hover {
      opacity: 50%;
    }
  }
}

/* ----------------- Desktop ⬇️ ---------------- */

@media screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-only,
  .hamburger-menu,
  .btn-join,
  .btn-more {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .toolbar-icon-facebook {
    background-image: url(../assets/facebook.png);
    background-size: contain;
    width: 25px;
    margin: 0;
    height: 25px;

    &:hover {
      background-image: url(../assets/facebook-orange.png);
    }
  }

  .toolbar-icon-twitter {
    background-image: url(../assets/twitter.png);
    background-size: contain;
    width: 25px;
    margin: 1vw 0 1vw 0;
    height: 25px;

    &:hover {
      background-image: url(../assets/twitter-orange.png);
    }
  }

  .grid-container {
    background-image: url(/Capstone-Project-01/assets/desktop_bg.png);
  }

  .home-text {
    margin: {
      left: 15%;
    }
  }

  .toolbar {
    margin: 0;

    li {
      display: inline;
    }

    width: 100%;
  }

  .black-nav {
    background: #3c3a39;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .white-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;

    li {
      margin: {
        right: 7%;
      }
    }

    background-color: rgb(255, 255, 255);
    box-shadow: #272a31;
  }

  .menu-logo {
    margin-left: 0;
    width: 16vw;
    min-width: 200px;
    padding: 1rem;
  }

  #bordered-menu-item {
    border: 4px solid $my-orange;
    padding: 1%;
    color: $my-orange;
    white-space: nowrap;
    font-weight: bold;

    & :hover {
      color: $my-black;
    }
  }

  .desktop-right-menu-item {
    color: #fff;
    margin-right: 4%;
    justify-content: flex-end;

    &:hover {
      color: $my-orange;
    }
  }

  .desktop-right-menu-item:nth-child(5) {
    margin-right: 10vw;
  }

  .desktop-right-menu-item:nth-child(1) {
    margin-right: 1vw;
  }

  .desktop-right-menu-item:nth-child(2) {
    margin-right: 3vw;
  }

  .main-program {
    display: grid;
    padding: {
      top: 3%;
      bottom: 10%;
    }

    .program-box {
      display: flex;
      flex-direction: row;
      padding: {
        left: 10%;
        right: 10%;
      }
    }

    .main-program-line {
      width: 3%;
      margin: {
        bottom: 2rem;
      }
    }

    .program-parts {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.75rem 0.75rem 0 0;

      .icon {
        width: 35%;
        opacity: 70%;
        margin-bottom: 0;
      }

      .icon-title {
        min-width: unset;
        margin-top: 10px;
        margin-bottom: 0;
        padding: {
          right: 0;
          left: 0;
        }
      }

      .icon-description {
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  .program-parts:hover {
    border: 1px solid white;
  }

  .speakers-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    padding: 10%;
  }

  .partners-container {
    padding: {
      top: 1%;
      bottom: 3%;
    }
  }

  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 5rem;

    img {
      width: 80%;
    }
  }

  .about-2-title {
    font: {
      size: 4vw;
    }

    line-height: 4vw;
    margin: {
      top: 8vw;
      bottom: 2vw;
    }
  }

  .logo-part-line1 {
    width: 2vw;
  }

  .about-p {
    font-size: 1.5vw;
    line-height: 2vw;
    margin: {
      top: 4vw;
      left: 10vw;
      right: 10vw;
    }
  }

  .about-3-title {
    margin: {
      top: 2vw;
    }
  }

  .about-4-title {
    margin: {
      bottom: 7vw;
    }
  }

  .logo-part-line2 {
    margin: {
      bottom: 108vw;
    }
  }

  .about-images {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }

  .red-image {
    width: 30vw;
    margin: {
      left: 2vw;
      right: 2vw;
    }
  }

  .bg {
    background-image: url(../assets/about_bg.png);
    background-size: contain;
    background-position-y: 80%;
  }

  .footer {
    background-color: #2e2e2e;
    margin-top: 6rem;
    padding: {
      bottom: 3%;
      top: 3%;
    }

    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-logo {
      width: 20vw;
    }

    .footer-text {
      text-align: left;
      color: white;
      opacity: 75%;
      font-size: 0.75rem;
    }
  }

  .logo-box {
    max-width: 20vw;
  }

  .speakers-line {
    width: 3% !important;
  }

  .speaker-line {
    width: 8% !important;
  }

  .see-the-program {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin-top: 4rem;
  }
}
